body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
 
.navb-item{
    text-align: center;
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}

.navbar-button{
    border-radius: 20px;
    border: none;
    font-size: 20px;
    /* padding: 5px; */
    width: 120px;
    height: 40px;
    background-color: rgba(210, 209, 209, 0.861);
    color: white;
    
}

.navbar-button:hover {
    background-color: rgb(40, 164, 67);
    color: white

}
.nav-main2{


    /* float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */

    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
    

    
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    
    
    
  
}
.group-middle{
    text-align: center;
    
    padding-top: 20%;
    padding-bottom: 50%;
    background-image: url("/photos/image1_0.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 80%;
    
}
.acct-bttn{
    border-radius: 20px;
    border: none;
    font-size: 20px;
    /* padding: 5px; */
    width: 250px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    text-color: white;
}

.acct-bttn:hover {
    background-color: rgb(40, 164, 67);
    color: white
}

.container {
    
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2.5rem;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: solid rgb(187, 186, 186);
}
.test{
    border: 1px solid rgb(156, 156, 156) ; /* Adjust border styles as needed */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px; /* Add padding for better visualization */
    border-radius: 9px;
    padding-bottom: 7%;

}

h4{
    display: flex;
    font-size: 24px;
    font-style: bold;
    border-bottom:  1px solid rgb(187, 186, 186);
}

p{
    font-size: 18px;
}