body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3%;
    
    
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    border: solid green;
}

.main-logo{
    
    display: block;
    text-align: left;
    width: max-content;
    border: solid rgb(51, 0, 128);

    padding: 14px 16px;
   
}
.nav-main2{


    /* float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */

    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: baseline;
    
   
    
    margin-top: 1;
    padding: 0;
    border: solid firebrick; 
    list-style-type: none;
    
    
#login-bttn {
    padding: 10px 70px;
    border-radius: 5px;
    

}
    
  
}
.group-middle{
    padding-top: 20%;
    text-align: center;
}